// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  background: rgba(240, 240, 240, 0.709);
}

.navbar-lewagon {
  justify-content: space-between;
  background: #BFBDC1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

h2{
  color: #3A4E48;
}
