// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  background: rgba(240, 240, 240, 0.709);
}

.navbar-lewagon {
  justify-content: space-between;
  background: #BFBDC1;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

h2{
  color: #3A4E48;
}

.title {
  border-bottom: 1px solid #BFBDC1;
}

.linky:hover {
  opacity: 0.5;
}
